<div>
    <ul class="bookmarks list-unstyled">
        <li v-for="(bookmark, index) in bookmarks">
            <button class="btn btn-link btn-xs" @click="useBookmark(index)">{{bookmark.name}}</button>
            <button class="btn btn-link btn-xs" @click="deleteBookmark(index)">delete</button>
        </li>
    </ul>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>WebSocket/Socket.IO/Stomp Test Tool</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <input type="radio" v-model="protocol" value="WebSocket" :disabled="isConnected"> WebSocket
                    </label>
                    <label>
                        <input type="checkbox" v-model="isSocketIO" :disabled="isConnected"> socket.io
                    </label>
                    <label>
                        <input type="checkbox" v-model="ignorePing" :disabled="isConnected || !isSocketIO"> will hide ping/pong of socket.io
                    </label>
                    <label>
                        <input type="radio" v-model="protocol" value="HTTP" :disabled="isConnected"> HTTP
                    </label>
                    <label>
                        <input type="radio" v-model="protocol" value="TCP" :disabled="isConnected"> TCP
                    </label>
                    <label>
                        <input type="radio" v-model="protocol" value="UDP" :disabled="isConnected"> UDP
                    </label>
                </div>
            </div>
            <div class="row" v-if="protocol === 'WebSocket' || protocol === 'HTTP'">
                <div class="col-md-10">
                    <input id="url" type="url" class="form-control" v-model="url" placeholder="url">
                </div>
                <div class="col-md-2" v-if="protocol === 'WebSocket'">
                    <input type="text" class="form-control" placeholder="subprotocol" v-model="subprotocol">
                </div>
                <div class="col-md-2" v-else>
                    <select class="form-control" v-model="httpMethod">
                        <option>GET</option>
                        <option>POST</option>
                        <option>PUT</option>
                        <option>DELETE</option>
                        <option>PATCH</option>
                        <option>COPY</option>
                        <option>HEAD</option>
                        <option>OPTIONS</option>
                        <option>LINK</option>
                        <option>UNLINK</option>
                        <option>PURGE</option>
                    </select>
                </div>
            </div>
            <div class="row" v-if="protocol === 'TCP' || protocol === 'UDP'">
                <div class="col-md-3">
                    <input class="form-control" v-model="host" placeholder="host">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="port" v-model="port">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm" @click="connect()" :disabled="cannotConnect">connect</button>
                    <button class="btn btn-default btn-sm" @click="close()" :disabled="cannotDisconnect">disconnect</button>
                    <button class="btn btn-default btn-sm clipboard" data-clipboard-target="#url" v-if="protocol === 'WebSocket' || protocol === 'HTTP'">copy URL</button>
                    <button class="btn btn-default btn-sm" @click="addParameter()" v-if="protocol === 'WebSocket'">add a parameter</button>
                    <button class="btn btn-default btn-sm" @click="showTips()">show tips</button>
                    <button class="btn btn-default btn-sm" @click="toggleStomp()" v-if="protocol === 'WebSocket' || protocol === 'TCP'">{{ stompIsHidden ? "show stomp" : "hide stomp"}}</button>
                    <button class="btn btn-default btn-sm" @click="toggleProtobuf()">{{ protobufIsHidden ? "show protobuf" : "hide protobuf"}}</button>
                </div>
            </div>
            <div class="row" v-if="!stompIsHidden">
                <div class="col-md-12">
                    <button class="btn btn-link btn-sm" @click="useStompConnectionMessage()">use stomp connection message</button>
                    <button class="btn btn-link btn-sm" @click="useStompSubscriptionMessage()">use stomp subscription message</button>
                    <button class="btn btn-link btn-sm" @click="useStompSendMessage()">use stomp send message</button>
                </div>
            </div>
            <div class="row" v-if="!protobufIsHidden">
                <div class="col-md-5">
                    <textarea style="width:100%;height:200px;" class="form-control" v-model="protobufContent" placeholder="protobuf file content"></textarea>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" v-model="protobufTypePath" placeholder="protobuf type apyh">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-link btn-sm" :disabled="!protobufContent || !protobufTypePath" @click="loadProtobuf()">apply</button>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <textarea style="width:100%;height:200px;" class="form-control" v-model="message" v-if="!isPreview"></textarea>
                        <pre v-else>{{previewResult}}</pre>
                    </div>
                </div>
                <div class="col-md-6" v-if="protocol === 'WebSocket' || protocol === 'HTTP'">
                    <div v-for="(parameter, index) in parameters">
                        <div class="col-md-3">
                            <input type="text" class="form-control input-sm" :value="parameter.key" @keyup="setKeyOfParameter(index, $event)" placeholder="key">
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" :value="parameter.value" @keyup="setValueOfParameter(index, $event)" placeholder="value">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-link btn-sm" @click="deleteParameter(index)">delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <input type="radio" v-model="messageType" value="string"> string
                    </label>
                    <label>
                        <input type="radio" v-model="messageType" value="Uint8Array"> Uint8Array
                    </label>
                    <label>
                        <input type="radio" v-model="messageType" value="protobuf"> protobuf
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm" @click="previewMessage()" :disabled="message===''" v-if="!isPreview">preview message</button>
                    <button class="btn btn-default btn-sm" @click="cancelPreview()" :disabled="message===''" v-else>cancel preview</button>
                    <button class="btn btn-primary btn-sm" @click="sendMessage()" :disabled="isDisconnected">send message</button>
                    <button class="btn btn-default btn-sm" @click="clear()" :disabled="messages.length===0">clear</button>
                    <button class="btn btn-default btn-sm" @click="savingAsBookmark()">{{isEditing ? "cancel bookmark" : "save as bookmark"}}</button>
                    <button class="btn btn-default btn-sm" @click="toggleFilter()">{{filterIsHidden ? "show filter" : "hide filter"}}</button>
                </div>
            </div>
            <div class="row" v-if="isEditing">
                <div class="col-md-4">
                    <input id="bookmarkName" type="text" class="form-control input-sm" v-model="bookmarkName" placeholder="bookmark name">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-link btn-sm" @click="saveAsBookmark()" :disabled="!canSaveAsBookmark">save</button>
                </div>
            </div>
            <div class="row" v-if="!filterIsHidden">
                <div class="col-md-6">
                    <input id="filter" type="text" class="form-control input-sm" v-model="filter" placeholder="filter">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <input type="checkbox" v-model="showRaw"> show raw data
                    </label>
                    <label>
                        <input type="checkbox" v-model="showFormatted"> show formatted data
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li v-for="(message, index) in filteredMessages" class="visibility-button-container">
                            <span class="label label-default">{{message.moment}}</span>
                            <span v-if="message.type==='open'" class="label label-success">open</span>
                            <span v-if="message.type==='close'" class="label label-danger">close</span>
                            <span v-if="message.type==='error'" class="label label-danger">error</span>
                            <span v-if="message.type==='out'" class="label label-info">out</span>
                            <span v-if="message.type==='in'" class="label label-info">in</span>
                            <span v-if="message.isBinary === true" class="label label-warning">binary</span>
                            <span v-if="message.isBinary === false" class="label label-warning">string</span>
                            <span v-if="message.type==='tips'" class="label label-info">tips</span>
                            <span v-if="message.reason">{{message.reason}}</span>
                            <span v-if="message.data">{{message.data}}</span>
                            <template v-if="message.formattedData">
                                <pre :id="resultId(index)"  v-if="message.visible !== undefined ? message.visible : showFormatted">{{message.formattedData}}</pre>
                                <label v-else class="label label-default">formatted</label>
                                <button class="btn btn-xs btn-default" @click="toggleMessageVisibility(message)" :style="visibilityButtonStyle(message)">{{messageVisibility(message) ? "hide" : "show"}}</button>
                            </template>
                            <template v-if="message.rawData">
                                <pre :id="resultId(index)" v-if="message.visible !== undefined ? message.visible : showRaw">{{message.rawData}}</pre>
                                <label v-else class="label label-default">raw</label>
                                <button class="btn btn-xs btn-default" @click="toggleMessageVisibility(message)" :style="visibilityButtonStyle(message)">{{messageVisibility(message) ? "hide" : "show"}}</button>
                            </template>
                            <pre v-if="message.tips">{{message.tips}}</pre>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>