<div>
    <ul class="bookmarks list-unstyled">
        <li v-for="(bookmark, index) in bookmarks">
            <button class="btn btn-link btn-xs" @click="useBookmark(index)">{{bookmark.name}}</button>
            <button class="btn btn-link btn-xs" @click="deleteBookmark(index)">delete</button>
        </li>
    </ul>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>WebSocket/Socket.IO/Stomp Test Tool</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <input id="url" type="url" class="form-control tour-input-url" v-model="url">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="subprotocol" v-model="subprotocol">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <input type="checkbox" v-model="isSocketIO" :disabled="!!websocket" class="tour-check"> socket.io
                    </label>
                    <label v-if="isSocketIO">
                        <input type="checkbox" v-model="ignorePing" :disabled="!!websocket"> will hide ping/pong of socket.io
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm" @click="connect()" :disabled="!!websocket">connect</button>
                    <button class="btn btn-default btn-sm" @click="close()" :disabled="!websocket">disconnect</button>
                    <button class="btn btn-default btn-sm clipboard" data-clipboard-target="#url">copy URL</button>
                    <button class="btn btn-default btn-sm" @click="addParameter()">add a parameter</button>
                    <button class="btn btn-default btn-sm" @click="showTips()">show tips</button>
                    <button class="btn btn-default btn-sm" @click="toggleStomp()">{{ stompIsHidden ? "show stomp" : "hide stomp"}}</button>
                </div>
            </div>
            <div class="row" v-if="!stompIsHidden">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm" @click="useStompConnectionMessage()">use stomp connection message</button>
                    <button class="btn btn-default btn-sm" @click="useStompSubscriptionMessage()">use stomp subscription message</button>
                    <button class="btn btn-default btn-sm" @click="useStompSendMessage()">use stomp send message</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <textarea style="width:100%;height:200px;" class="form-control tour-input-message" v-model="message" v-if="!isPreview"></textarea>
                        <pre v-else>{{previewResult}}</pre>
                    </div>
                </div>
                <div class="col-md-6">
                    <div v-for="(parameter, index) in parameters">
                        <div class="col-md-3">
                            <input type="text" class="form-control input-sm" :value="parameter.key" @keyup="setKeyOfParameter(index, $event)">
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" :value="parameter.value" @keyup="setValueOfParameter(index, $event)">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-link btn-sm" @click="deleteParameter(index)">delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <input type="checkbox" v-model="showRaw"> show raw data
                    </label>
                    <label>
                        <input type="checkbox" v-model="showFormatted"> show formatted data
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm" @click="previewMessage()" :disabled="message===''" v-if="!isPreview">preview message</button>
                    <button class="btn btn-default btn-sm" @click="cancelPreview()" :disabled="message===''" v-else>cancel preview</button>
                    <button class="btn btn-primary btn-sm" @click="sendMessage()" :disabled="!websocket">send message</button>
                    <button class="btn btn-default btn-sm" @click="clear()" :disabled="messages.length===0">clear</button>
                    <button class="btn btn-default btn-sm" @click="savingAsBookmark()">{{isEditing ? "cancel bookmark" : "save as bookmark"}}</button>
                    <button class="btn btn-default btn-sm" @click="toggleFilter()">{{filterIsHidden ? "show filter" : "hide filter"}}</button>
                </div>
            </div>
            <div class="row" v-if="isEditing">
                <div class="col-md-4">
                    <input id="bookmarkName" type="text" class="form-control input-sm" v-model="bookmarkName">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-link btn-sm" @click="saveAsBookmark()" :disabled="!canSaveAsBookmark">save</button>
                </div>
            </div>
            <div class="row" v-if="!filterIsHidden">
                <div class="col-md-6">
                    <input id="filter" type="text" class="form-control input-sm" v-model="filter">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tour-view-messages">
                    <ul>
                        <li v-for="(message, index) in filteredMessages">
                            <span class="label label-default">{{message.moment}}</span>
                            <span v-if="message.type==='open'" class="label label-success">open</span>
                            <span v-if="message.type==='close'" class="label label-danger">close</span>
                            <span v-if="message.type==='error'" class="label label-danger">error</span>
                            <span v-if="message.type==='out'" class="label label-info">out</span>
                            <span v-if="message.type==='in'" class="label label-info">in</span>
                            <span v-if="message.type==='tips'" class="label label-info">tips</span>
                            <span v-if="message.reason">{{message.reason}}</span>
                            <span v-if="message.data">{{message.data}}</span>
                            <span v-if="message.formattedData">
                                <template v-if="message.visible !== undefined ? message.visible : showFormatted">
                                    <button class="btn btn-xs btn-default" @click="hideMessage(index)">hide</button>
                                    <pre>{{message.formattedData}}</pre>
                                    <button class="btn btn-xs btn-default" @click="hideMessage(index)">hide</button>
                                </template>
                                <template v-else>
                                    <label class="label label-default">formatted</label>
                                    <button class="btn btn-xs btn-default" @click="showMessage(index)">show</button>
                                </template>
                            </span>
                            <span v-if="message.rawData">
                                <template v-if="message.visible !== undefined ? message.visible : showRaw">
                                    <button class="btn btn-xs btn-default" @click="hideMessage(index)">hide</button>
                                    <pre>{{message.rawData}}</pre>
                                    <button class="btn btn-xs btn-default" @click="hideMessage(index)">hide</button>
                                </template>
                                <template v-else>
                                    <label class="label label-default">raw</label>
                                    <button class="btn btn-xs btn-default" @click="showMessage(index)">show</button>
                                </template>
                            </span>
                            <pre v-if="message.tips">{{message.tips}}</pre>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>