<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>WebSocket/Socket.IO Test Tool</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="gh-fork-ribbon.css">
    <style>
        .form-control {
            border-width: 0 0 1px 0;
        }
        
        * {
            font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>

<body id="body">
    <a class="github-fork-ribbon right-top" href="https://github.com/plantain-00/ws-tool" title="Fork me on GitHub">Fork me on GitHub</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>WebSocket/Socket.IO Test Tool</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input id="url" type="url" class="form-control" v-model="url">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default clipboard" data-clipboard-target="#url">
                    copy
                </button>
                <button class="btn btn-default" @click="addParameter()">
                    add a parameter
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <textarea style="width:100%;height:200px;" class="form-control" v-model="message"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div v-for="parameter in parameters">
                    <div class="col-md-3">
                        <input type="text" class="form-control" value={{parameter.key}} onkeyup="vue.setParameter({{$index}}, this.value, '{{parameter.value}}')">
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" value={{parameter.value}} onkeyup="vue.setParameter({{$index}}, '{{parameter.key}}', this.value)">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" onclick="vue.deleteParameter({{$index}})">delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    <input type="checkbox" v-model="isSocketIO" disabled={{!!websocket}}> socket.io
                </label>
                <label v-show="isSocketIO">
                    <input type="checkbox" v-model="ignorePing" disabled={{!!websocket}}> ignore ping
                </label>
                <label>
                    <input type="checkbox" v-model="showRaw"> show raw data
                </label>
                <label>
                    <input type="checkbox" v-model="showFormatted"> show formatted data
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" @click="connect()" disabled={{!!websocket}}>connect</button>
                <button class="btn btn-default" @click="websocket.close()" disabled={{!websocket}}>disconnect</button>
                <button class="btn btn-default" @click="clear()" disabled={{messages.length===0}}>clear</button>
                <button class="btn btn-primary" @click="sendMessage()" disabled={{!websocket}}>send message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul v-for="message in messages">
                    <li>
                        <span class="label label-default">{{message.moment}}</span>
                        <span v-if="message.type==='open'" class="label label-success">connected</span>
                        <span v-if="message.type==='close'" class="label label-danger">disconnected</span>
                        <span v-if="message.type==='error'" class="label label-danger">errored</span>
                        <span v-if="message.type==='out'" class="label label-info">out</span>
                        <span v-if="message.type==='message'" class="label label-info">in</span>
                        <span v-if="message.reason">{{message.reason}}</span>
                        <span v-if="message.data">{{message.data}}</span>
                        <span v-if="message.formattedData">
                            <pre v-if="showFormatted">{{message.formattedData}}</pre>
                            <span v-else class="label label-default">formatted</span>
                        </span>
                        <span v-if="message.rawData">
                            <pre v-if="showRaw">{{message.rawData}}</pre>
                            <span v-else class="label label-default">raw</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="vue.min.js"></script>
    <script src="clipboard.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="index.bundle.js"></script>
</body>