.form-control {
    border-width: 0 0 1px 0;
}

* {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 18px;
}

input, textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
    margin-bottom: 10px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.row {
    margin-top: 5px;
}

.main {
    margin-right: 210px;
}

.bookmarks {
    right: 10px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 45px;
}

.visibility-button-container {
    position: relative;
}

label {
    margin-left: 10px;
}